--swiftversion 6.2
--self insert
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--wrapconditions after-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--linebreaks lf
--semicolons never
--trimwhitespace always
--ifdef no-indent
--importgrouping alpha
--header strip
--commas always
--stripunusedargs closure-only
--enable isEmpty
--enable wrapEnumCases
--enable wrapSwitchCases
--enable sortImports
--enable redundantSelf
--disable redundantReturn
--exclude .build,Package.swift
